<div *ngIf="mensajeExpiracionVisible" class="alerta-expiracion">
  {{ mensajeExpiracion }}
</div>

<div class="fondo">
  <div class="panel top-jugadores">
    <h3>🔥Top 5 jugadores🔥</h3>
    <div *ngFor="let jugador of topJugadores; let i = index" [ngClass]="{ 'primer-lugar': i === 0 }" class="jugador-item">
      <div [ngClass]="{ 'avatar-oro-animado': i === 0 }">
        <img *ngIf="jugador.avatar"
             [src]="jugador.avatar"
             alt="Avatar"
             width="48"
             height="48"
             style="border-radius: 50%;">
      </div>
      <div class="jugador-datos">
        <strong>{{ jugador.nombre }}</strong>
        <span>{{ jugador.puntuacion }} pts</span>
      </div>
    </div>
  </div>

  <div class="video-panel">
    <div class="video-msg-box video-msg-superior">
      <p class="aviso-final">El gameplay mostrado puede variar en la versión final.</p>
    </div>

    <video autoplay muted loop playsinline preload="auto">
      <source src="assets/inicio.mp4" type="video/mp4" />
      Tu navegador no soporta el video.
    </video>

    <div class="video-msg-box video-msg-inferior">
      <p>¿Aún no eres parte?</p>
      <button class="registro-btn ampliar" (click)="irARegistro()">Únete a nuestra comunidad</button>
    </div>
  </div>

  <div class="panel login-panel">
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onLogin()">
      <input type="text" [(ngModel)]="identificador" name="correo" placeholder="Correo o Nickname" required />
      <input type="password" [(ngModel)]="contrasena" name="contrasena" placeholder="Contraseña" required />
      <button type="submit">Ingresar</button>
    </form>
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>
</div>
