<div class="fondo">
  <div class="contenido">
    
    <div class="contenido-scrollable">
      <h2>Temas del Foro</h2>

      <ul *ngIf="temas.length > 0; else sinTemas">
        <li *ngFor="let tema of temas">
  <div class="lista-tema">
    <a [routerLink]="['/tema', tema.id]" class="tema-link" *ngIf="!editandoTemaId || editandoTemaId !== tema.id">
  {{ tema.titulo }}
</a>


    <input *ngIf="editandoTemaId === tema.id"
           [(ngModel)]="tituloEditado"
           class="input-edicion"
           required />

    <div class="acciones-tema">
      <button *ngIf="puedeEditar(tema.nombreUsuario) && editandoTemaId !== tema.id"
              (click)="iniciarEdicionTitulo(tema)"
              class="btn-pequeno editar-btn">Editar título</button>

      <button *ngIf="editandoTemaId === tema.id"
              (click)="guardarTituloEditado(tema.id)"
              class="btn-pequeno guardar-btn">Guardar</button>

      <button *ngIf="editandoTemaId === tema.id"
              (click)="cancelarEdicion()"
              class="btn-pequeno cancelar-btn">Cancelar</button>

      <button *ngIf="puedeEliminar(tema.nombreUsuario)"
              (click)="eliminarTema(tema.id)"
              class="btn-pequeno eliminar-btn">Eliminar</button>
    </div>
  </div>
  <p class="tema-info">
    - Creado por {{ tema.nombreUsuario }} el {{ tema.creadoEn | date:'short' }}
  </p>
</li>

      </ul>

      <ng-template #sinTemas>
        <p class="sin-temas">No hay temas en el foro.</p>
      </ng-template>


      <div *ngIf="usuario?.rol?.nombre === 'admin' && temasEliminados.length > 0">
        <h3>Temas eliminados</h3>
        <ul>
          <li *ngFor="let tema of temasEliminados">
            <strong>{{ tema.titulo }}</strong> (eliminado)
            <button (click)="reactivarTema(tema.id)" class="eliminar-btn">Reactivar</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="contenido-fijo">
      <h3>Crear nuevo tema</h3>
      <form (ngSubmit)="crearTema()">
        <input type="text" [(ngModel)]="nuevoTitulo" name="titulo" placeholder="Título del tema" required>
        <button type="submit">Crear tema</button>
      </form>
      <button routerLink="/dashboard">Volver</button>
    </div>

  </div>
</div>
