<div class="fondo">
  <div class="contenido">

    <div class="contenido-scrollable">
      <h2 class="titulo-hilo">Tema: {{ tituloHilo }}</h2>

      <ul *ngIf="posts.length > 0; else sinPosts">
        <li *ngFor="let post of posts" class="post">
          <img [src]="post.avatarUsuario" class="avatar" alt="avatar" />

          <div class="post-content">
            <div *ngIf="modoEdicion[post.id]; else vistaNormal">
              <textarea [(ngModel)]="contenidoEditado[post.id]" rows="3" required></textarea>
              <div class="acciones-post">
  <button (click)="guardarEdicion(post.id)" class="btn-pequeno guardar-btn">Guardar</button>

  <button (click)="cancelarEdicion(post.id)" class="btn-pequeno cancelar-btn">Cancelar</button>
</div>

            </div>

            <ng-template #vistaNormal>
              <p><strong>{{ post.nombreUsuario }}</strong>: {{ post.contenido }}</p>
            </ng-template>

            <div class="post-info">
  <p><em>{{ post.fechaCreacion | date:'short' }}</em></p>
  <div class="acciones-post" *ngIf="!modoEdicion[post.id]">
  <button *ngIf="puedeEditar(post.nombreUsuario)"
          (click)="editarPost(post.id, post.contenido)"
          class="btn-pequeno editar-btn">Editar</button>
  <button *ngIf="puedeEliminar(post.nombreUsuario)"
          (click)="eliminarPost(post.id)"
          class="btn-pequeno eliminar-btn">Eliminar</button>
</div>

</div>

          </div>
        </li>
      </ul>

      <ng-template #sinPosts>
        <p class="mensaje-blanco">No hay posts en este hilo.</p>
      </ng-template>

      <div *ngIf="usuarioLogueado?.rol?.nombre === 'admin' && postsEliminados.length > 0">
        <h3>Posts eliminados</h3>
        <ul>
          <li *ngFor="let post of postsEliminados">
            <strong>{{ post.nombreUsuario }}</strong>: {{ post.contenido }}
            <button (click)="reactivarPost(post.id)" class="eliminar-btn">Reactivar</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="contenido-fijo">
      <form (ngSubmit)="crearPost()">
        <textarea [(ngModel)]="nuevoPost" name="post" placeholder="Escribe tu respuesta" required></textarea>
        <button type="submit">Responder</button>
      </form>

      <button (click)="volver()">Volver al foro</button>
      <button (click)="inicio()">Volver al inicio</button>
    </div>

  </div>
</div>
